@{
  Layout = "_Layout";
}

@using VendorOrder.Models;

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Add Order for @Model.Name</h1>
      <form action="/vendors/@Model.Id/orders" method="post">
        <input id="vendorId" name="nameId" type="hidden" value="@Model.Id">
        <div class="form-group">
          <label for="product">Product</label>
          <input type="text" name="product" class="form-control">
        </div>
          <input type="hidden" name="id" value="@Model.Id">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
        <hr/>
        <a href='/vendors'><button type="button">Return to Vendor list</button></a>
      </form>
    </div>
  </div>
</div>