@{
  Layout = "_Layout";
}

@using VendorOrder.Models;

<div class="jumbotron">
  <h1>Order</h1>
  <p>Vendor: @Model["vendor"].Name</p>
  <p>Product: @Model["order"].Product</p>
  <hr/>
  <a href='/vendors'><button type="button">Return to Vendor list</button></a>
</div>