@{
  Layout = "_Layout";
}

@using VendorOrder.Models;

<div class="jumbotron">
  <h1>Order #@Model["order"].Id:</h1>
  <p>Vendor: @Model["vendor"].Name</p>
  <p>Product: @Model["order"].Product</p>
  <p>Quantity: @Model["order"].Quantity</p>
</div>