@{
  Layout = "_Layout";
}
<h1>Your Vendors!</h1>
@if(Model.Count == 0)
{
  <p>List is empty</p>
}
else
{
  @foreach (var item in Model)
  {
      <p>@item.Name</p>
      <p>@item.Description</p>
      <p>@item.Address</p>
      <p>Number of ORDERS = @item.Orders.Count</p>
      <a href="/vendor/@item.Id/orders/new"><Button class="btn btn-success btn-lg">Add Order</Button></a> 
      <a href="/vendor/@item.Id"><Button class="btn btn-info btn-lg">Details</Button></a> 
      <hr>
  }
}

<a href="/vendors/create">Add a Vendor</a>