@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Add a New Vendor</h1>

  <form action="/vendors" method="post">
    <label for="name">Vendor Name</label>
    <input id="name" name="name" type="text">
    <label for="description">Vendor description</label>
    <input id="description" name="description" type="text">
    <label for="address">Vendor Address</label>
    <input id="address" name="address" type="text">
    <button type="submit">Add</button>
  </form>

  <a href="/vendors"><button type="submit">Back To Vendors</button></a>
</div>  